header {
  background-color: black;
  color: yellow;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
}

header * {
  font-family: 'New Tegomin', serif;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 2rem;
}
label.character {
  width: 30%;
  aspect-ratio: 1;
}

.character {
  width: 100%;
}

.character-form {
  flex-direction: column;
  width: clamp(50%, 100rem, 70%);
  margin: 0 auto;
  padding: 3rem 2.5rem;
  position: relative;
  background-color: lightyellow;
  border-radius: 2rem;
}

.character-form h2 {
  font-weight: 600;
  font-size: 2rem;
}

img.character {
  position: relative;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
  z-index: 2;
}

.character-container {
  justify-content: space-evenly;
  margin-bottom: 3rem;
}

.character-container label {
  position: relative;
}

.character-container input {
  display: none;
}

.character:checked + span::before {
  content: '';
  display: block;
  width: calc(100% + 5px);
  height: calc(100%);
  background: linear-gradient(
    86deg,
    yellow 0%,
    yellow 20%,
    black 80%,
    black 100%
  );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
  top: -2.5px;
  left: -2.5px;
}
form {
  background-color: lightgreen;
  width: clamp(50vw, 80rem, 80vw);
  border-radius: 1rem;
  padding: 3rem 2rem;
  margin: 0 auto;
}

input[type='text'],
input[type='number'] {
  background: transparent;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #bcb1b1;
  transition: background 1s ease-in;
}

.input-container {
  overflow: hidden;
  width: 15rem;
  position: relative;
}

.input-container.race-container {
  width: 50%;
}

.input-container::before {
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #bcb1b1;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-in;
}

.input-container:focus-within::before {
  transform: translateX(0);
}

input[type='text']:focus,
input[type='number']:focus {
  outline: none;
}

input[type='text']:hover,
input[type='text']:focus,
details:hover,
details:focus-within,
input[type='number']:hover,
input[type='number']:focus {
  background: #19ef19;
  color: white;
}

.race-text {
  text-transform: capitalize;
}
.moving-label {
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.menu-hamburger {
  width: 40px;
  height: 40px;
  right: 2rem;
  top: 4rem;
  position: absolute;
  transition: right 1s ease;
}

.menu {
  width: 20rem;
  height: 100vh;
  background-color: green;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  transform: translateX(100%);
  transition: transform 1s ease;
}

#menu {
  display: none;
}

#menu:checked ~ .menu {
  transform: translateX(0);
}

#menu:checked ~ label .menu-hamburger {
  right: 22rem;
}

.menu {
  padding: 5rem 1rem;
}

nav a {
  color: white;
  text-decoration: none;
  letter-spacing: normal;
  transition: letter-spacing 1s ease;
}

nav a:hover {
  letter-spacing: 2px;
}

@media (max-width: 500px) {
  .menu-hamburger {
    visibility: hidden;
  }
}
