header {
  background-color: black;
  color: yellow;
  text-align: center;
  padding: 2rem;
  box-sizing: border-box;
  width: 100%;
}

header * {
  font-family: 'New Tegomin', serif;
}

.title {
  font-size: 2.5rem;
}

.subtitle {
  font-size: 2rem;
}

.character {
  width: 100%;
  max-width: 20rem;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.character-container {
  width: 100%;
}

.image-container {
  width: 30%;
}

form {
  background-color: lightgreen;
  width: clamp(50vw, 80rem, 80vw);
  border-radius: 1rem;
  padding: 3rem 2rem;
  margin: 0 auto;
}

input[type='text'],
input[type='number'] {
  background: transparent;
  border: none;
  width: 100%;
  padding: 1rem 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #bcb1b1;
  transition: background 1s ease-in;
}

.input-container {
  overflow: hidden;
  width: 15rem;
  position: relative;
}

.input-container.race-container {
  width: 50%;
}

.input-container::before {
  content: '';
  width: 100%;
  height: 1px;
  border-bottom: 1px solid #bcb1b1;
  background-color: black;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 1s ease-in;
}

.input-container:focus-within::before {
  transform: translateX(0);
}

input[type='text']:focus,
input[type='number']:focus {
  outline: none;
}

input[type='text']:hover,
input[type='text']:focus,
details:hover,
details:focus-within,
input[type='number']:hover,
input[type='number']:focus {
  background: #19ef19;
  color: white;
}

.race-text {
  text-transform: capitalize;
}
.moving-label {
  position: absolute;
  bottom: 0;
  left: 1rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  justify-content: space-between;
}
